.character-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

.character-image {
    height: 141px;
    width: 124px;
}

.character-title {
    font: 12px "Roboto", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: darkred;
    border-radius: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 18px;
    margin-right: 18px;
}

/*
    Character Detail Page
 */

.title {
    color: white;
}

.sub-title {
    color: white;

}
