.character-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

.character-image {
    height: 256px;
    width: 216px;
}

.character-title {
    font: 12px "Roboto", Helvetica, Arial, sans-serif;
    text-align: justify;
    color: white;
    background-color: darkred;
    position: absolute;
    top: 220px;
    left: 35px;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    line-height: 16px;
    max-height: 32px;
    max-width: 135px;
    overflow: hidden;
    padding: 3px 5px 5px 5px;
}