.character-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

.character-image {
    height: 141px;
    width: 124px;
}

.character-title {
    font: 12px "Roboto", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
}

.character-title-span {
    background: rgb(204, 0, 0); /* fallback color */
    background: rgba(204, 0, 0, 0.9);
    border-radius: 4px;
    padding: 4px;
}
/*
    Character Detail Page
 */

.title {
    color: white;
}

.sub-title {
    color: white;

}
