.season-image {
    margin-top: 16px;
    margin-bottom: 16px;
}

.title {
    color: white;
}

.sub-title {
    color: white;

}

.episode-name {
    margin-top: 16px;
    margin-bottom: 16px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.season-episodes-container {
    margin-bottom: 16px;
}