body {
  background-color: black;
  margin: 0;
}

h1 {
  font: 48px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 48px;
}

h2 {
  font: 32px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 16px;
}

.body-content-container{
  margin-top: 24px;
}

.carousel-slide {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Carousel Styling */
.slide1{
  background-image: url('../images/s1e1.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide2{
  background-image: url('../images/s1e2.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide3{
  background-image: url('../images/s1e3.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide4{
  background-image: url('../images/s1e4.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide5{
  background-image: url('../images/s1e5.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide6{
  background-image: url('../images/s1e6.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide7{
  background-image: url('../images/s1e7.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide8{
  background-image: url('../images/s1e8.jpg');
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel-caption h1{
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 2em;
}