body {
  background-color: black;
  margin: 0;
}

h1 {
  font: 48px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 48px;
}

.wtf {
  font: 256px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 48px;
  margin-top: 200px;
}

h2 {
  font: 32px "Roboto", Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 16px;
}

.body-content-container{
  margin-top: 24px;
}

.carousel-slide {
  height: 800px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-caption h1{
  font-size: 5.4em;
  font-family: 'Pacifico', cursive;
  padding-bottom: .4em;
}
.carousel-caption p{
  font-size: 2em;
}